<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />

    <script type="text/javascript" src="shjs/sh_main.min.js"></script>
    <script type="text/javascript" src="shjs/sh_caml.min.js"></script>
    <script type="text/javascript" src="shjs/sh_c.min.js"></script>
    <script type="text/javascript" src="shjs/sh_sh.min.js"></script>
    <link rel="stylesheet" type="text/css" href="shjs/sh_navy.css"/>

    <title>Open Source @ Jane Street</title>
  </head>

  <body onload="sh_highlightDocument();">

    <header>
      <div class="container">
        <h1 id="logo"><img src="images/js_logo_white.png" alt="Jane Street" /> </h1>
        <h1>Open Source</h1>

        <section id="downloads">
          <a href="https://github.com/janestreet">View on GitHub</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">

        {{ content }}

      </section>
    </div>


  </body>
</html>

